html {
    scroll-behavior: smooth;
}

body {
    background-color: #fafafa;
}
.image{
    background-image: url('./images/idology_logo.png');
}

section {
    margin: 0!important;
    padding: 40px 80px;
}

section:nth-child(odd) {
    /* background: #fff; */
}

.header {
    box-shadow: 0 0 5px;
    padding: 0 36px;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}

.nav-menu {
    color: #333333;
    padding: 34px 20px;
    border: 1px solid transparent;
    transition: 0.3s;
}

.nav-menu div {
    cursor: pointer;
}

.contact-us-menu a {
    padding: 15px 25px!important;
    border: 1px solid #F15822;
    border-radius: 40pc;
}

.nav-menu.nav-active {
    /* border-bottom: 1px solid #1BD9C4; */
    opacity: 0.8;
}

.nav-menu a {
    padding: 5px 12px;
    text-transform: capitalize;
}

.nav-menu.nav-active a {
    color: #F15822;
    border-bottom: 1px solid #F15822;
    opacity: 1;
}

.contact-us-menu.nav-active a {
    background: #F15822;
}

.contact-us-menu.nav-active a, .contact-us-menu.nav-active a:hover {
    color: #fff;
}

.nav-menu a {
    color: unset;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #F15822;
    text-decoration: none;
}

.home-brand {
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.brand-text {
    max-width: 990px;
    /* padding-top: 150px; */
    text-align: center;
    font-size: 45px;
    line-height: 58px;
    color: #333333;
    pointer-events: none;
    z-index: 9;
}

.brand-text .large-brand-text {
    font-size: 38px;
    line-height: 65px;
    margin-top: -95px;
}

.brand-text .description {
    padding-top: 40px;
    font-size: 20px;
    line-height: 30px;
}

.large-title {
    font-size: 58px;
    line-height: 70px;
    color: #333333;
    padding: 20px 0;
}

.medium-title {
    font-size: 28px;
    color: #333333;
}

.text {
    font-size: 16px;
    color: #333333;
    opacity: 0.8;
    padding: 15px 0px;
}

.medium-text {
    font-size: 18px;
    color: #333333;
    opacity: 0.8;
}

.bold {
    font-weight: bold;
    opacity: 1;
}

.service-box {
    padding: 80px;
    text-align: center;
}

.service-title {
    padding: 20px 0;
}

.service-title>div {
    padding: 0;
}

.service-title .title-border {
    margin-top: 20px;
}

.service-title .bold {
    padding: 0;
}

.service-box .medium-title {
    line-height: 32px;
}

.service-box .text {
    color: #000;
    padding: 0;
}

.title-box {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.larger-title {
    color: #333333;
    padding-top: 20px;
    font-size: 46px;
    font-weight: bold;
}

.title-border {
    background: #F15822;
    width: 70px;
    height: 3px;
    margin: auto;
}

.feature-box {
    margin: 0;
}

.feature-box .image-box {
    margin: auto;
}

.feature-box .image-box img {
    padding: 40px;
    width: 100%;
    max-height: 500px;
    margin: auto;
    object-fit: contain;
}

.details-box {
    margin: auto;
    padding: 90px;
}

.number {
    font-size: 80px;
    color: #333333;
    opacity: 0.2;
}

.count-box {
    display: flex;
}

.count-box .title-border {
    margin: auto 10px;
}

.small-title {
    font-size: 24px;
    color: #333333;
}

.featured {
    position: relative;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    font-size: 16px;
    border: 1px solid #F15822;
    border-right: 0;
    width: 110px;
    padding: 5px 15px;
    border-radius: 2px 0px 0px 2px;
}

.featured:after {
    right: -12px;
    content: "";
    height: 25px;
    width: 25px;
    position: absolute;
    border: 1px solid #F15822;
    transform: rotate(45deg);
    border-right: 0;
    border-top: 0;
}

.appicon-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icon-box {
    padding: 40px 0;
    width: 320px;
    text-align: center;
}

.testimonials-box {
    margin: 0;
}

.testimonials {
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-image {
    width: 80px;
    object-fit: contain;
    object-position: bottom;
    margin-bottom: 20px;
}

.testimonial-image.about-us-textimonial {
    width: 135px;
}
.testimonial-image.about-us-textimonial2 {
    width: 195px;
    margin-top: -10px;
}
.testimonial-image.about-us-textimonial3 {
    width: 135px;
    height: 147px;
}
.review-box {
    padding: 13px 30px;
}

.testimonials .review-box {
    text-align: center;
    ;
}

.review-title {
    font-size: 20px;
    color: #333333;
    font-weight: 500;
}

.review-text {
    font-size: 16px;
    color: #333333;
    padding: 32px 0 0 0;
}

.contact-info, .contact-form {
    margin: auto;
    padding: 40px 80px;
}

.contact {
    display: flex;
    padding: 5px 0;
}

.contact img {
    padding-right: 15px;
}

.input-box input {
    width: 100%;
    margin-top: 30px;
    border: 0;
    border-bottom: 1px solid lightgray;
    background: unset;
    padding: 10px 0;
}

.input-box input:focus, .input-box textarea:focus {
    outline: 0;
    border-color: #F15822;
}

.input-box button {
    background: #F15822 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    color: #ffffff;
    margin: 30px 0;
}

.footer {
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    padding-top: 10px;
    font-size: 14px;
    letter-spacing: 0.08px;
    color: #7B7674;
    opacity: 0.8;
    text-align: center;
}

.follow-us {
    padding: 10px;
}

.follow-us-text {
    font-size: 18px;
    letter-spacing: 0;
    color: #7B7674;
    line-height: 40px;
    opacity: 1;
}

.follow-us-icon {
    display: flex;
    justify-content: space-between;
}

.follow-us-icon img {
    cursor: pointer;
}

#particle-slider {
    position: absolute;
    height: 600px;
    width: 80%;
    top: 17%;
}

.border-image {
    border: 1px solid;
}

.border-right-bottom {
    border-image: linear-gradient(to bottom right, transparent, transparent, #f9f9f9ad, #00000085) 0 1 1 0;
}

.border-left-bottom {
    border-image: linear-gradient(to bottom left, transparent, transparent, #f9f9f9ad, #00000085) 0 0 1 1;
}

.border-top-right {
    border-image: linear-gradient(to top right, transparent, transparent, #f9f9f9ad, #00000085) 1 1 0 0;
}

.border-top-left {
    border-image: linear-gradient(to top left, transparent, transparent, #f9f9f9ad, #00000085) 1 0 0 1;
}

.border-top-right-bottom {
    border-image: linear-gradient(to right, #f9f9f9ad, #00000085) 1 1 1 0;
}

.border-top-left-bottom {
    border-image: linear-gradient(to left, #f9f9f9ad, #00000085) 1 0 1 1;
}

.partnership-box {
    margin: 0 100px;
}

.partnership {
    text-align: center;
    padding: 100px 20px 40px 20px;
}

.partnership-image {
    width: 80px;
}

.view-more {
    padding: 20px;
}

.engagement-box {
    margin: 60px;
}

.engagement {
    padding: 40px;
    height: 100%;
    background-color: #eff0f2;
    border-radius: 4px;
    text-align: center;
}

.engagement-image {
    padding: 20px;
    width: 114px;
    height: 114px;
    object-fit: none;
    object-position: center;
}

.left__align {
    text-align: left;
}

.device-box {
    width: 100%;
    padding: 80px;
}

.device-box>div {
    text-align: center;
}

.device-box img {
    height: 200px;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.device-name {
    color: #333333;
    font-size: 24px;
    padding: 35px 0;
}

.index-type {
    text-align: left;
}

.index-section {
    display: flex;
    padding: 40px 0;
}

.index-count {
    font-size: 48px;
    color: #F15822;
}

.index-name {
    font-size: 70px;
    line-height: 75px;
    color: #D2D2D2;
}

.index-item {
    margin: 0;
    width: 100%;
}

.index-item-cotainer {
    margin: auto;
    text-align: center;
}

.index-image-title {
    padding-top: 10px;
    font-size: 24px;
    color: #333333;
}

.selection-process-container {
    padding-top: 80px;
}

.process-heading {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    padding-bottom: 10px;
}

.process-details {
    font-size: 16px;
    color: #333333;
}

.selection-process-box {
    padding: 20px 0;
}

.selection-process-box .title-border {
    margin: 0;
}

.center-align {
    text-align: center;
}

.padding-box {
    padding: 55px;
    text-align: center;
}

.unset-bg {
    background-color: unset;
}

.on-hands .engagement-box {
    margin: 0 60px;
}

.contact-service-box {
    padding: 25px 15px;
}

.map-address {
    padding: 0;
    padding-top: 80px;
}

.mapouter {
    height: 500px;
}

.gmap_canvas {
    width: 100%;
    height: 100%;
}

textarea {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    background: unset;
    border: 1px solid lightgray;
    border-radius: 4px;
    overflow: hidden;
    resize: none;
}

.get-to-know {
    text-align: center;
}

.get-to-know button {
    margin: 20px 0 80px 0;
    padding: 15px 70px;
    color: #fff;
    background-color: #F15822;
    border: 1px solid #F15822;
    border-radius: 40px;
    font-size: 16px;
    transition: 0.3s;
    outline: 0;
    user-select: none;
}

.get-to-know button:hover {
    color: #F15822;
    background-color: #fafafa;
    border-color:#F15822;
}

.get-to-know .text {
    max-width: 600px;
    margin: auto;
}

.company-info {
    max-width: 250px;
}

.company-name {
    font-size: 33px;
    padding: 8px 0;
}

.company-detail {
    padding-top: 12px;
    color: #333333bf;
    font-size: 15px;
}

.checkbox-group {
    margin-top: 15px;
    display: flex;
}

.checkbox {
    margin-right: 10px;
}

.checkbox input {
    display: none;
}

.checkbox label {
    margin: 0;
}

.checkbox div {
    padding: 10px 20px;
    width: max-content;
    color: rgba(35, 37, 44, 0.5);
    background: rgba(231, 231, 231, 0.6);
    border-radius: 30px;
    transition: 0.3s;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
}

.checkbox input:checked+div {
    color: #fff;
    background: #F15822;
}

.nav-menu-container {
    display: flex;
}

.header button {
    display: none;
}

.logo {
    display: flex;
}

.header .logo {
    width: max-content;
}

.logo img {
    width: 126px;
    object-fit: contain;
    object-position: center;
    height: 80px;
}

/* ============================= Icon Burger CSS START =============================*/

.icon-burger {
    position: relative;
    width: 24px;
    height: 18px;
    margin: 0 auto;
}

.icon-burger__bar {
    width: 100%;
    height: 2px;
    background: #F15822;
    display: block;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.icon-burger:hover .icon-burger__bar {
    opacity: 0.8;
}

.icon-burger__bar:nth-child(1) {
    top: 0;
    width: 90%;
}

.icon-burger__bar:nth-child(2) {
    top: 8px;
}

.icon-burger__bar:nth-child(3) {
    top: 16px;
    width: 70%;
}

.header--active .icon-burger__bar:nth-child(1) {
    top: 8px;
    width: 100%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header--active .icon-burger__bar:nth-child(2) {
    opacity: 0;
}

.header--active .icon-burger__bar:nth-child(3) {
    top: 8px;
    width: 100%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.web-home-brand {
    display: block;
}

.mobile-home-brand {
    display: none
}

.thankyou-section{
    padding: 160px 80px;
    text-align: center;
}

.thankyou-section .medium-text{
    padding-top: 15px;
}

.thankyou-section .check-icon{
    margin: auto;
    padding: 25px;
    font-size: 80px;
    color: #F15822;
    border: 2px solid #F15822;
    border-radius: 50%;
    box-shadow: 0 0 5px #F15822;
}

/* ============================= Icon Burger CSS END =============================*/

@media only screen and (max-width: 768px) {
    .header {
        padding: 10px 15px;
        box-shadow: 0px 0px 10px;
    }
    .header.header--active {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #000000fa;
        overflow: scroll;
        display: block;
    }
    .header button {
        position: fixed;
        right: 15px;
        top: 15px;
        width: 45px;
        height: 40px;
        padding: 0;
        border: 0;
        background: transparent;
        border-radius: 4px;
        outline: none;
        z-index: 500;
        display: block;
    }
    .nav-menu-container {
        display: none;
    }
    .header--active .nav-menu-container {
        display: block;
    }
    section {
        padding: 40px;
    }
    .brand-text {
        padding: 0;
        font-size: 30px;
        line-height: 45px;
    }
    .brand-text .description {
        font-size: 18px;
        line-height: 26px;
    }
    .larger-title {
        font-size: 35px;
    }
    .engagement-box {
        margin: 0!important;
    }
    .engagement-box>div {
        margin: 25px 0;
        padding: 0;
    }
    .unset-bg {
        padding: 0!important;
    }
    .engagement {
        padding: 20px;
    }
    .details-box {
        padding: 30px 0;
    }
    .appicon-box {
        display: block;
    }
    .icon-box {
        margin: 0;
        width: 100%;
    }
    .testimonials {
        padding: 50px 0;
        border: 0;
    }
    .large-title {
        font-size: 40px;
        line-height: 50px;
    }
    .footer>div {
        text-align: center;
    }
    .company-info {
        max-width: 100%;
    }
    .footer>div:nth-child(2) {
        display: none;
    }
    .nav-menu {
        margin: 40px;
        padding: 10px;
        text-align: center;
    }
    .brand-text .large-brand-text {
        font-size: 22px;
        line-height: 46px;
    }
    .device-box {
        width: unset;
    }
    .index-name {
        font-size: 30px;
        line-height: 36px;
    }
    .index-item-cotainer {
        margin: 20px auto;
    }
    .selection-process-box {
        text-align: center;
    }
    .selection-process-box .title-border {
        margin: auto;
        margin-bottom: 15px;
    }
    .service-box {
        padding: 40px 15px;
    }
    .partnership-box {
        margin: 0;
    }
    .partnership {
        padding: 40px 0;
        border: 0;
    }
    .nav-menu a {
        color: #fff;
    }
    .follow-us {
        padding: 10px 0;
    }
    .review-box {
        padding: 13px 0px;
    }
    .contact-info, .contact-form {
        padding: 40px 0;
        text-align: center;
    }
    .get-in-touch {
        padding: 0 40px;
    }
    .checkbox-group {
        display: unset;
    }
    .checkbox {
        margin: 20px;
    }
    .logo {
        align-items: center;
        justify-content: center;
    }
    .logo img {
        width: 100px;
        height: 48px;
    }
    .web-home-brand {
        display: none;
    }
    .mobile-home-brand {
        display: block;
    }
}

#loader-container.show{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #00000021;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  
#loader-container.show .loader {
    border: 6px solid #969595;
    border-top: 6px solid #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#responseText{
    min-height: 25px;
    margin-top: 20px;
}
#responseText.success{
    color: green;
}

#responseText.error{
    color: red;
}
.img-sec, .fig-caption
{
	width: 50%;
	float: left;
}
.img-sec, .fig-caption
{
	width: 50%;
	float: left;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.team-info {
    /* border: 1px solid rgba(204, 204, 204, 0.33); */
    float: left;
    width: 100%;
    border-radius: 3px;
}